<div class="tutorial-container">
    <div mat-dialog-title>
        <span>How to play 4x4x4</span>
    </div>

    <mat-dialog-content>
      <p>Tic-tac-toe is a simple game for two players, red and blue, who take turns marking the spaces in a 4x4x4 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.</p>
    </mat-dialog-content>


    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" class="btn" mat-button style="font-size: 17px" (click)="onCancel()">Back</button>
    </mat-dialog-actions>
</div>