.mat-dialog-actions {
    margin-bottom: -12px;
}

mat-dialog-actions {
    justify-content: flex-end;    
}

p{
    padding: 10px;


}

.tutorial-container {
    background-color: aliceblue;
    margin:20px;
    padding: 30px;
    overflow: hidden;
}

