.mat-dialog-actions {
    margin-bottom: -12px;
}

mat-dialog-actions {
    justify-content: flex-end;    
}

p{
    padding: 10px;
}

::ng-deep .mat-dialog-container {
    background-color: #b9d3ee !important;
    margin:20px;
    padding: 30px;
    overflow: hidden;
}

