mat-toolbar {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
#turn {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 200;
  width: 100%;
}

.mat-fab{
   top: auto;
   bottom: 3.24em;
   left: 1.5em;
   position: fixed;
   font-size: 13px;
 }

#logo{
   font-size: 15px;
}

#restart {
  color: yellow;
}

button {
  font-size: 18px;
  font-weight: bold;
}
